.post{
    width: 700px;

    background-color: rgb(238, 225, 225);
    
    margin: 20px;

    border-top: 1.5px solid rgb(0, 0, 0);
    border-bottom: 1.5px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post .user{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: 900;
}

.post .texto {
    text-align: justify;
    font-size: 1.2rem;
    padding: 20px;
}

.post .caixa-likes{
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.2rem;
}

.post .caixa-likes img{
    height: 30px;
    width: 30px;
}

.post .caixa-likes button{
    cursor: pointer;
    font-size: 1.2rem;
}